In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns; sns.set()
from sklearn.model_selection import train_test_split

C:\Users\pwrxn\miniconda3\envs\pytorch\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
train= pd.read_csv('train.csv')
train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [3]:
# Load datasets
test = pd.read_csv('test.csv')
stores = pd.read_csv('stores.csv')
oil = pd.read_csv('oil.csv')
holidays_events = pd.read_csv('holidays_events.csv')
# transactions = pd.read_csv('transactions.csv')

# Convert date columns to datetime type
train['date'] = pd.to_datetime(train['date'])
test['date'] = pd.to_datetime(test['date'])
oil['date'] = pd.to_datetime(oil['date'])
holidays_events['date'] = pd.to_datetime(holidays_events['date'])
# transactions['date'] = pd.to_datetime(transactions['date'])

# Merge store metadata with train and test datasets
train = train.merge(stores, on='store_nbr', how='left')
test = test.merge(stores, on='store_nbr', how='left')

# Merge oil prices with train and test datasets
train = train.merge(oil, on='date', how='left')
test = test.merge(oil, on='date', how='left')

# Merge holidays and events data
# Assuming you want to include this data for each store and each date
train = train.merge(holidays_events, on='date', how='left')
test = test.merge(holidays_events, on='date', how='left')

# Merge transactions with trian and test datasets
# train = train.merge(transactions, on='date', how='left')
# test = test.merge(transactions, on='date', how='left')

# Inspect the merged train dataset
train.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type_x,cluster,dcoilwtico,type_y,locale,locale_name,description,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
 6   city         object
 7   state        object
 8   type_x       object
 9   cluster      int64
 10  dcoilwtico   float64
 11  type_y       object
 12  locale       object
 13  locale_name  object
 14  description  object
 15  transferred  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(9)
memory usage: 372.8+ MB

In [5]:
train.isna().sum()

id                   0
date                 0
store_nbr            0
family               0
sales                0
onpromotion          0
city                 0
state                0
type_x               0
cluster              0
dcoilwtico      955152
type_y         2551824
locale         2551824
locale_name    2551824
description    2551824
transferred    2551824
dtype: int64

In [6]:
# Forward fill or interpolate missing oil prices
train['dcoilwtico'] = train['dcoilwtico'].bfill().ffill()  # or.interpolate()

# Handling holidays/events columns
for col in ['type_y', 'locale', 'locale_name', 'description', 'transferred']:
    train[col] = train[col].fillna('None')

# Creating a binary feature for holiday/event
train['is_holiday_event'] = train['type_y'] != 'None'

In [7]:
train.isna().sum()

id                  0
date                0
store_nbr           0
family              0
sales               0
onpromotion         0
city                0
state               0
type_x              0
cluster             0
dcoilwtico          0
type_y              0
locale              0
locale_name         0
description         0
transferred         0
is_holiday_event    0
dtype: int64

In [8]:
train.family.value_counts()

family
AUTOMOTIVE                    92556
HOME APPLIANCES               92556
SCHOOL AND OFFICE SUPPLIES    92556
PRODUCE                       92556
PREPARED FOODS                92556
POULTRY                       92556
PLAYERS AND ELECTRONICS       92556
PET SUPPLIES                  92556
PERSONAL CARE                 92556
MEATS                         92556
MAGAZINES                     92556
LIQUOR,WINE,BEER              92556
LINGERIE                      92556
LAWN AND GARDEN               92556
LADIESWEAR                    92556
HOME CARE                     92556
HOME AND KITCHEN II           92556
BABY CARE                     92556
HOME AND KITCHEN I            92556
HARDWARE                      92556
GROCERY II                    92556
GROCERY I                     92556
FROZEN FOODS                  92556
EGGS                          92556
DELI                          92556
DAIRY                         92556
CLEANING                      92556
CELEBRATION                   92556
BREAD/BAKERY                  92556
BOOKS                         92556
BEVERAGES                     92556
BEAUTY                        92556
SEAFOOD                       92556
Name: count, dtype: int64

In [9]:
train.city.value_counts()

city
Quito            1018116
Guayaquil         452496
Santo Domingo     169686
Cuenca            169686
Latacunga         113124
Manta             113124
Machala           113124
Ambato            113124
Quevedo            56562
Esmeraldas         56562
Loja               56562
Libertad           56562
Playas             56562
Daule              56562
Babahoyo           56562
Cayambe            56562
Salinas            56562
Puyo               56562
Guaranda           56562
Ibarra             56562
Riobamba           56562
El Carmen          56562
Name: count, dtype: int64

In [10]:
train.type_x.value_counts()

type_x
D    1018116
C     848430
A     509058
B     452496
E     226248
Name: count, dtype: int64

In [11]:
train.state.value_counts()

state
Pichincha                         1074678
Guayas                             622182
Santo Domingo de los Tsachilas     169686
Azuay                              169686
Manabi                             169686
Cotopaxi                           113124
Tungurahua                         113124
Los Rios                           113124
El Oro                             113124
Chimborazo                          56562
Imbabura                            56562
Bolivar                             56562
Pastaza                             56562
Santa Elena                         56562
Loja                                56562
Esmeraldas                          56562
Name: count, dtype: int64

In [12]:
# One-hot encoding for 'type_x'
train = pd.get_dummies(train, columns=['type_x'], drop_first=True)

# Frequency encoding for 'family'
family_freq = train['family'].value_counts() / len(train)
train['family'] = train['family'].map(family_freq)

# Frequency encoding for 'city'
city_freq = train['city'].value_counts() / len(train)
train['city'] = train['city'].map(city_freq)

# Frequency encoding for 'state'
state_freq = train['state'].value_counts() / len(train)
train['state'] = train['state'].map(state_freq)

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   id                int64
 1   date              datetime64[ns]
 2   store_nbr         int64
 3   family            float64
 4   sales             float64
 5   onpromotion       int64
 6   city              float64
 7   state             float64
 8   cluster           int64
 9   dcoilwtico        float64
 10  type_y            object
 11  locale            object
 12  locale_name       object
 13  description       object
 14  transferred       object
 15  is_holiday_event  bool
 16  type_x_B          bool
 17  type_x_C          bool
 18  type_x_D          bool
 19  type_x_E          bool
dtypes: bool(5), datetime64[ns](1), float64(5), int64(4), object(5)
memory usage: 364.1+ MB

In [14]:
train.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,cluster,dcoilwtico,type_y,locale,locale_name,description,transferred,is_holiday_event,type_x_B,type_x_C,type_x_D,type_x_E
0,0,2013-01-01,1,0.030303,0.0,0,0.333333,0.351852,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,True,False,False,True,False
1,1,2013-01-01,1,0.030303,0.0,0,0.333333,0.351852,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,True,False,False,True,False
2,2,2013-01-01,1,0.030303,0.0,0,0.333333,0.351852,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,True,False,False,True,False
3,3,2013-01-01,1,0.030303,0.0,0,0.333333,0.351852,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,True,False,False,True,False
4,4,2013-01-01,1,0.030303,0.0,0,0.333333,0.351852,13,93.14,Holiday,National,Ecuador,Primer dia del ano,False,True,False,False,True,False

In [15]:
train.type_y.value_counts()

type_y
None          2551824
Holiday        304722
Event           99792
Additional      67716
Transfer        16038
Work Day         8910
Bridge           5346
Name: count, dtype: int64

In [16]:
train.locale.value_counts()

locale
None        2551824
National     261954
Local        208494
Regional      32076
Name: count, dtype: int64

In [17]:
train.locale_name.value_counts()

locale_name
None                              2551824
Ecuador                            261954
Guayaquil                           19602
Riobamba                            17820
Guaranda                            16038
Latacunga                           16038
Quito                               14256
Ambato                              14256
Cuenca                              10692
Esmeraldas                           8910
Cayambe                              8910
Santo Domingo                        8910
El Carmen                            8910
Machala                              8910
Imbabura                             8910
Puyo                                 8910
Libertad                             8910
Cotopaxi                             8910
Manta                                8910
Ibarra                               7128
Quevedo                              7128
Santo Domingo de los Tsachilas       7128
Santa Elena                          7128
Loja                                 7128
Salinas                              7128
Name: count, dtype: int64

In [18]:
train.description.value_counts()

description
None                           2551824
Carnaval                         17820
Fundacion de Cuenca              10692
Primer dia del ano                8910
Cantonizacion de Guaranda         8910
                                ...
Terremoto Manabi+6                1782
Terremoto Manabi+7                1782
Terremoto Manabi+8                1782
Terremoto Manabi+9                1782
Traslado Primer dia del ano       1782
Name: count, Length: 102, dtype: int64

In [19]:
train.transferred.value_counts()

transferred
None     2551824
False     486486
True       16038
Name: count, dtype: int64

In [20]:
# One-hot encoding
one_hot_columns = ['type_y', 'locale']
train = pd.get_dummies(train, columns=one_hot_columns, drop_first=True)

# Frequency encoding for 'locale_name'
locale_name_freq = train['locale_name'].value_counts() / len(train)
train['locale_name'] = train['locale_name'].map(locale_name_freq)

# Frequency encoding for 'description'
description_freq = train['description'].value_counts() / len(train)
train['description'] = train['description'].map(description_freq)

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054348 entries, 0 to 3054347
Data columns (total 27 columns):
 #   Column            Dtype
---  ------            -----
 0   id                int64
 1   date              datetime64[ns]
 2   store_nbr         int64
 3   family            float64
 4   sales             float64
 5   onpromotion       int64
 6   city              float64
 7   state             float64
 8   cluster           int64
 9   dcoilwtico        float64
 10  locale_name       float64
 11  description       float64
 12  transferred       object
 13  is_holiday_event  bool
 14  type_x_B          bool
 15  type_x_C          bool
 16  type_x_D          bool
 17  type_x_E          bool
 18  type_y_Bridge     bool
 19  type_y_Event      bool
 20  type_y_Holiday    bool
 21  type_y_None       bool
 22  type_y_Transfer   bool
 23  type_y_Work Day   bool
 24  locale_National   bool
 25  locale_None       bool
 26  locale_Regional   bool
dtypes: bool(14), datetime64[ns](1), float64(7), int64(4), object(1)
memory usage: 343.7+ MB

In [22]:
def preprocessing(df):
    '''Transforms the given dataset into encoded one.'''
    
    # One-hot encoding for 'type_x'
    df = pd.get_dummies(df, columns=['type_x'], drop_first=True)

    # Frequency encoding for 'family'
    family_freq = df['family'].value_counts() / len(df)
    df['family'] = df['family'].map(family_freq)

    # Frequency encoding for 'city'
    city_freq = df['city'].value_counts() / len(df)
    df['city'] = df['city'].map(city_freq)

    # Frequency encoding for 'state'
    state_freq = df['state'].value_counts() / len(df)
    df['state'] = df['state'].map(state_freq)

    # Forward fill or interpolate missing oil prices
    df['dcoilwtico'] = df['dcoilwtico'].bfill().ffill()  # or df['dcoilwtico'].interpolate()

    # Handling holidays/events columns
    for col in ['type_y', 'locale', 'locale_name', 'description', 'transferred']:
        df[col] = df[col].fillna('None')

    # Creating a binary feature for holiday/event
    df['is_holiday_event'] = df['type_y'] != 'None'

    # One-hot encoding
    one_hot_columns = ['type_y', 'locale']
    df = pd.get_dummies(df, columns=one_hot_columns, drop_first=True)

    # Frequency encoding for 'locale_name'
    locale_name_freq = df['locale_name'].value_counts() / len(df)
    df['locale_name'] = df['locale_name'].map(locale_name_freq)

    # Frequency encoding for 'description'
    description_freq = df['description'].value_counts() / len(df)
    df['description'] = df['description'].map(description_freq)

    # Label encoding for 'transferred'
    df['transferred'] = df['transferred'].map({'None': -1, 'False': 0, 'True': 1})  # -1 for 'None'

    return df

In [23]:
train.transferred.value_counts()

transferred
None     2551824
False     486486
True       16038
Name: count, dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder

# Initialize the label encoder
label_encoder = LabelEncoder()

# Replace 'None' with numpy NaN for proper encoding
train['transferred'].replace({'None': None}, inplace=True)

# Fit the label encoder and transform the 'transferred' column
train['transferred'] = label_encoder.fit_transform(train['transferred'].astype(str))

# If you need to transform back to the original labels later
# labels = label_encoder.inverse_transform(train['transferred'])

train['transferred'], _ = pd.factorize(train['transferred'], sort=True)

# This will encode 'None', 'False', 'True' to 0, 1, 2 respectively
# If you want 'None' to be -1, you can simply subtract 1
train['transferred'] = train['transferred'] - 1

C:\Users\pwrxn\AppData\Local\Temp\ipykernel_22484\180067380.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['transferred'].replace({'None': None}, inplace=True)

In [25]:
train.transferred.value_counts()

transferred
 0    2551824
-1     486486
 1      16038
Name: count, dtype: int64

In [26]:
from sklearn.ensemble import RandomForestRegressor # import RandomForestRegressor

In [27]:
X = train.drop('sales', axis=1)
y = train['sales']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_test, y_train, y_test

(              id       date  store_nbr    family  onpromotion      city  \
 580605    573477 2013-11-18          5  0.030303            0  0.055556
 457845    450717 2013-09-10          6  0.030303            0  0.333333
 2585113  2540563 2016-11-29         42  0.030303            8  0.055556
 1839313  1814365 2015-10-18         17  0.030303            0  0.333333
 2829206  2781397 2017-04-14          5  0.030303            9  0.055556
 ...          ...        ...        ...       ...          ...       ...
 1692743  1667795 2015-07-27         54  0.030303            0  0.018519
 2356330  2313562 2016-07-25         23  0.030303            0  0.037037
 2229084  2193444 2016-05-18         53  0.030303            3  0.037037
 2768307  2721975 2017-03-12         33  0.030303           18  0.018519
 2219110  2183470 2016-05-13         23  0.030303            1  0.037037

             state  cluster  dcoilwtico  locale_name  ...  type_x_E  \
 580605   0.055556        4       93.03     0.835473  ...     False
 457845   0.351852       13      107.48     0.835473  ...     False
 2585113  0.055556        2       45.29     0.835473  ...     False
 1839313  0.351852       12       45.91     0.835473  ...     False
 2829206  0.055556        4       52.62     0.002917  ...     False
 ...           ...      ...         ...          ...  ...       ...
 1692743  0.055556        3       47.17     0.835473  ...     False
 2356330  0.037037        9       42.40     0.006418  ...     False
 2229084  0.055556       13       48.12     0.835473  ...     False
 2768307  0.037037        3       47.95     0.835473  ...     False
 2219110  0.037037        9       46.22     0.085764  ...     False

          type_y_Bridge  type_y_Event  type_y_Holiday  type_y_None  \
 580605           False         False           False         True
 457845           False         False           False         True
 2585113          False         False           False         True
 1839313          False         False           False         True
 2829206          False         False            True        False
 ...                ...           ...             ...          ...
 1692743          False         False           False         True
 2356330          False         False            True        False
 2229084          False         False           False         True
 2768307          False         False           False         True
 2219110          False          True           False        False

          type_y_Transfer  type_y_Work Day  locale_National  locale_None  \
 580605             False            False            False         True
 457845             False            False            False         True
 2585113            False            False            False         True
 1839313            False            False            False         True
 2829206            False            False            False        False
 ...                  ...              ...              ...          ...
 1692743            False            False            False         True
 2356330            False            False            False        False
 2229084            False            False            False         True
 2768307            False            False            False         True
 2219110            False            False             True        False

          locale_Regional
 580605             False
 457845             False
 2585113            False
 1839313            False
 2829206            False
 ...                  ...
 1692743            False
 2356330            False
 2229084            False
 2768307            False
 2219110            False

 [2443478 rows x 26 columns],
               id       date  store_nbr    family  onpromotion      city  \
 668753    659843 2014-01-07         23  0.030303            0  0.037037
 1267004  1250966 2014-12-05          1  0.030303            0  0.333333
 997442    981404 2014-07-06         45  0.030303            0  0.333333
 873596    864686 2014-05-02         20  0.030303            0  0.333333
 756145    747235 2014-02-25         25  0.030303            0  0.018519
 ...          ...        ...        ...       ...          ...       ...
 475684    468556 2013-09-20          6  0.030303            0  0.333333
 1322714  1303112 2015-01-04         22  0.030303            0  0.018519
 2965722  2914044 2017-06-28         22  0.030303           68  0.018519
 1287101  1271063 2014-12-16         23  0.030303            0  0.037037
 936734    927824 2014-06-06         41  0.030303            1  0.037037

             state  cluster  dcoilwtico  locale_name  ...  type_x_E  \
 668753   0.037037        9       93.31     0.835473  ...     False
 1267004  0.351852       13       65.89     0.004667  ...     False
 997442   0.351852       11      104.19     0.835473  ...     False
 873596   0.351852        6      100.09     0.835473  ...     False
 756145   0.018519        1      102.20     0.835473  ...     False
 ...           ...      ...         ...          ...  ...       ...
 475684   0.351852       13      104.70     0.835473  ...     False
 1322714  0.018519        7       50.05     0.835473  ...     False
 2965722  0.018519        7       44.74     0.835473  ...     False
 1287101  0.037037        9       55.97     0.835473  ...     False
 936734   0.037037        4      103.32     0.835473  ...     False

          type_y_Bridge  type_y_Event  type_y_Holiday  type_y_None  \
 668753           False         False           False         True
 1267004          False         False           False        False
 997442           False         False           False         True
 873596           False         False           False         True
 756145           False         False           False         True
 ...                ...           ...             ...          ...
 475684           False         False           False         True
 1322714          False         False           False         True
 2965722          False         False           False         True
 1287101          False         False           False         True
 936734           False         False           False         True

          type_y_Transfer  type_y_Work Day  locale_National  locale_None  \
 668753             False            False            False         True
 1267004            False            False            False        False
 997442             False            False            False         True
 873596             False            False            False         True
 756145             False            False            False         True
 ...                  ...              ...              ...          ...
 475684             False            False            False         True
 1322714            False            False            False         True
 2965722            False            False            False         True
 1287101            False            False            False         True
 936734             False            False            False         True

          locale_Regional
 668753             False
 1267004            False
 997442             False
 873596             False
 756145             False
 ...                  ...
 475684             False
 1322714            False
 2965722            False
 1287101            False
 936734             False

 [610870 rows x 26 columns],
 580605      614.0
 457845     1001.0
 2585113     144.0
 1839313     398.0
 2829206     218.0
             ...
 1692743     222.0
 2356330       0.0
 2229084       3.0
 2768307    1845.0
 2219110     112.0
 Name: sales, Length: 2443478, dtype: float64,
 668753      471.000
 1267004       1.000
 997442        0.000
 873596        0.000
 756145        0.000
              ...
 475684      160.000
 1322714       0.000
 2965722    2009.000
 1287101       2.000
 936734       37.125
 Name: sales, Length: 610870, dtype: float64)

## Let's create a RandomForestRegressor model

In [29]:
# First ensure 'date' is a datetime dtype
X_train['date'] = pd.to_datetime(X_train['date'])
X_test['date'] = pd.to_datetime(X_test['date'])

# Now extract date features
X_train['year'] = X_train['date'].dt.year
X_train['month'] = X_train['date'].dt.month
X_train['day'] = X_train['date'].dt.day
X_train['weekday'] = X_train['date'].dt.weekday
# ...and similarly for X_test
X_test['year'] = X_test['date'].dt.year
X_test['month'] = X_test['date'].dt.month
X_test['day'] = X_test['date'].dt.day
X_test['weekday'] = X_test['date'].dt.weekday
# Now you can convert 'date' to timestamps if you need that representation
# Note: This step is optional and only necessary if you want to use timestamps as features
X_train['timestamp'] = X_train['date'].apply(lambda x: x.timestamp())
X_test['timestamp'] = X_test['date'].apply(lambda x: x.timestamp())

# Drop the original 'date' column if it's no longer needed
X_train.drop('date', axis=1, inplace=True)
X_test.drop('date', axis=1, inplace=True)

In [30]:
from sklearn.ensemble import GradientBoostingRegressor
# Set the Model
gbr = GradientBoostingRegressor()

# Fit the model 
gbr.fit(X_train, y_train)

# Score the model
gbr_score = gbr.score(X_test, y_test)
gbr_score

0.4213338507219625

In [ ]:
from sklearn.model_selection import RandomizedSearchCV